@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: poppins;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    padding: 20px 50px;
}

.auth-links a {
    text-decoration: none;
    color: black;
    padding: 8px 29px;
    font-size: 15px;
}

.auth-links a:last-child {
    width: 133px;
    height: 39px;
    border: 2px solid #8C4DFE;
    border-radius: 10px;
    transition: 0.5s;
}

.auth-links a:last-child:hover {
    background-color: #8C4DFE;
    color: white;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.line {
    width: 30px;
    height: 2px;
    background-color: #8C4DFE;
    transition: 0.5s;
}

.nav-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
}

.nav-menu.active {
    display: flex;
}

.hamburger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(9px, 5px);
}

.hamburger.active .line:nth-child(2) {
    opacity: 0;
}

.hamburger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(9px, -5px);
}

.nav-link{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    font-size: 15px;
}

.hero {
    border-radius: 60px;
}

.hero h1 {
    color: #000;
    font-size: 55px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: -10px;
}

.hero h2 {
    color: #A5A5A5;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 30px;
}

.hero p {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
}

.content img {
    width: 90px;
    height: 90px;
    margin-bottom: 25px;
    animation: rotate 100s infinite linear;
}

@media screen and (max-width: 768px) {

    .hamburger {
        display: flex;
    }

    .auth-links {
        display: none;
    }
    
    .header {
        padding: 20px 20px;
    }

    .auth-links a {
        padding: 8px 20px;
        font-size: 13px;
    }

    .auth-links a:last-child {
        width: 100px;
        height: 30px;
    }

    .logo {
        width: 120px;
    }

    .hero h1 {
        font-size: 40px;
    }

    .hero h2 {
        font-size: 30px;
    }

    .hero p {
        font-size: 15px;
    }

    .content img {
        width: 70px;
        height: 70px;
    }
    
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.content a {
    background: #8C4DFE;
    transition: 0.5s;
    text-decoration: none;
}

.content a:hover {
    background: #782EFF;
}

.blurred-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }

  .blurred-circle {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #8C4DFE;
    filter: blur(100px);
    border-radius: 50%;
    animation: move 8s infinite ease-in-out;
  }

  @keyframes move {
    0%, 100% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(50px, -50px);
    }
    50% {
      transform: translate(-50px, 50px);
    }
    75% {
      transform: translate(-100px, -100px);
    }
  }

  @media (max-width: 768px) {
    .blurred-circle {
      width: 100px;
      height: 100px;
    }
  }